<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Projekt ETL</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
</head>
<body>

    <section class="footer-content" th:fragment="footer" style="margin-top: 30px">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Made by <a href="#">Piotr Kondratjew</a>, <a href="#">Łukasz Ryś</a> &amp; <a href="#">Ireneusz Kozioł</a></p>
                </div>
            </div>
        </div>
    </section>

</body>
</html>