<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Projekt ETL</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
</head>
<body>

    <section class="header-content" th:fragment="header">
        <div class="navbar navbar-default navbar-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand">Proces ETL</a>
                    <a href="/products" class="navbar-brand">Opinie według produktów</a>
                </div>
            </div>
        </div>
    </section>

</body>
</html>