<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
</head>
<body>

    <div th:replace="header :: header"></div>

    <section class="main-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <div class="alert alert-success" th:if="${successMsg}">
                        <p th:text="${successMsg}"></p>
                    </div>
                    <div class="alert alert-danger" th:if="${errorMessage}">
                        <p th:text="${errorMessage}"></p>
                    </div>

                    <form action="/" th:action="@{/}" method="post">
                        <h2>Proces ETL</h2>
                        <div class="form-group">
                            <label class="control-label" for="inputProductCode">Podaj kod produktu:</label>
                            <input class="form-control input-lg" name="productCode" id="inputProductCode" type="text" placeholder="Kod produktu"/>
                        </div>

                        <div class="" style="margin: 20px 0">
                            <div class="btn-group">
                                <button type="submit" name="action" value="extract" class="btn btn-default btn-lg">Extract</button>
                                <button type="submit" name="action" value="transform" class="btn btn-default btn-lg">Transform</button>
                                <button type="submit" name="action" value="load" class="btn btn-default btn-lg">Load</button>
                            </div>
                        </div>
                        <button type="submit" name="action" value="etl" class="btn btn-default btn-lg">Extract + Transform + Load</button>
                    </form>

                    <form action="/" th:action="@{/}" method="post">
                        <div class="" style="margin: 20px 0">
                            <div class="btn-group">
                                <button type="submit" name="action" value="generate" class="btn btn-default btn-lg">Eksportuj dane</button>
                                <a class="btn btn-default btn-lg" th:href="@{/download}">Pobierz wyeksportowane dane</a>
                            </div>
                        </div>
                    </form>

                    <form action="/deleteAll" th:action="@{/deleteAll}" method="post">
                        <div class="text-right" style="margin: 20px 0">
                            <div class="btn-group">
                                <button type="submit" name="action" value="deleteAll" class="btn btn-danger btn-lg">Usuń dane</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div th:if="${products != null}">
                        <h3>Produkty w bazie</h3>
                        <p th:each="prod : ${products}">
                            <p th:text="${prod.name}">Onions</p>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <div th:replace="footer :: footer"></div>

</body>
</html>