<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
</head>
<body>

    <div th:replace="header :: header"></div>

    <section class="main-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div th:if="${products != null}">
                        <h3>Wybierz produkt z bazy:</h3>
                        <p th:each="prod : ${products}">
                            <a th:href="@{/products/{id}(id=${prod.productCode})}" th:text="${prod.name}"></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div th:replace="footer :: footer"></div>

</body>
</html>