<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
</head>
<body>

    <div th:replace="header :: header"></div>

    <section class="main-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3>Produkt: <span th:text="${product.name}"></span></h3>
                    <table class="table table-striped table-hover ">
                        <tr>
                            <td>kod produktu</td>
                            <td th:text="${product.productCode}"></td>
                        </tr>
                        <tr>
                            <td>Marka</td>
                            <td th:text="${product.brand}"></td>
                        </tr>
                        <tr>
                            <td>Typ</td>
                            <td th:text="${product.type}"></td>
                        </tr>
                        <tr>
                            <td>Kategorie</td>
                            <td>
                                <p th:each="categorie : ${product.categories}">
                                    <span th:text="${categorie}"></span>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>Liczba ocen pozytywnych</td>
                            <td th:text="${product.yesAmount}"></td>
                        </tr>
                        <tr>
                            <td>Liczba ocen negatywnych</td>
                            <td th:text="${product.noAmount}"></td>
                        </tr>
                    </table>

                    <h3>Opinie produktu</h3>
                    <div class="container" th:each="opinion : ${product.opinions}">
                        <div class="row">
                            <div class="col-lg-12 well">
                                <p><b>autor:</b> <span th:text="${opinion.author}"></span></p>
                                <p><b>ocena:</b>
                                    <span th:text="${opinion.rate}"></span>
                                    -
                                    <span th:text="${opinion.recommendation}"></span>
                                </p>
                                <p><b>komentarz:</b></p>
                                <p th:text="${opinion.description}"></p>
                                <p><b>Zalety:</b>
                                    <p th:each="pro : ${opinion.pros}"><span>-</span><span th:text="${pro}"></span></p>
                                </p>
                                <p><b>Wady:</b>
                                    <p th:each="con : ${opinion.cons}"><span>-</span><span th:text="${con}"></span></p>
                                </p>
                                <p><b>głosy za przydatną opinią:</b> <span th:text="${{opinion.usefulVotes}}"></span></p>
                                <p><b>głosy za nieprzydatną opinią:</b> <span th:text="${{opinion.uselessVotes}}"></span></p>
                                <p><b>data pulikacji:</b> <span th:text="${{opinion.date}}"></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div th:replace="footer :: footer"></div>

</body>
</html>